*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgb(0,0,0,0.9),rgb(0,0,0,0.9)),url('bg.jpg');
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
}
.navbar{
    height: 12%;
    display: flex;
    align-items: center;
}
.logo{
    width: 200px;
    cursor: pointer;
}
.menu-icon{
    width: 30px;
    height: auto;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul li{
    list-style: none;
    display: inline;
    margin-left: 60px;
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
    transition: transform 0.3s, color 0.3s, font-size 0.3s;
}

nav ul li a:hover{
    transform: scale(1.05);
    color: #ffd700;
    font-size: 14px;
}

.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #fff;
} 

.hover-underline-animation::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

.hover-underline-animation:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
} 

.row{
    height: 88%;
    display: flex;
    align-items: center;
}
.col{
    flex-basis: 50%;
}
h1{
    color: white;
    font-size: 80px;
}
p{
    color: white;
    font-size: 11px;
    line-height: 15px;
}

.navbar a.active {
    transform: none;
    color: #ffd700;
    font-size: 14px;
  }
     
  .btn {
    background-image: linear-gradient(to right, #F7971E 0%, #FFD200  51%, #F7971E  100%);
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    border-radius: 10px;
    display: block;
    cursor: pointer;
  }

  .btn:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
    padding: 18px 48px;
  }
 
 
.card{
    width: 200px;
    height: 230px;
    display: inline-block;
    border-radius: 10px;
    padding: 15px 25px;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    transition: transform 0.5s;
}
.card:hover{
    transform: translateY(-10px);
}
h5{
    color: white;
    text-shadow: 0 0 5px #999;
}
.card p{
    text-shadow: 0 0 5px black;
    font-size: 8px;
}
.card1{
    background-image: url('./assets/aquaman.jpg');
}
.card2{
    background-image: url('./assets/joker-2019.jpg');
}
.card3{
    background-image: url('./assets/inception.jpg');
}
.card4{
    background-image: url('./assets/wolverine.jpg');
}

@media screen and (max-width: 800px) {
    .col2{
        background: #fff;
        display: flex;
        flex-direction: row;
        margin-top: 150%;
        transform: translate(-60%, 0);
        width: 160%;
    }

    .card4{
        display: block;
        margin-top: 40%;
        transform: translate(-360%, 5%);
        animation: none;
    }
}
.footer{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #1a7fad;
}

.footer p{
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
.footer p{
    font-size: .7rem;
}
